/* changed */
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    font-family: 'Crimson Text', serif;
}
.website{
    color: rgb(10, 209, 235);
    font-size: 70px; 
}
h1,h2 {
    text-align: center;
}
a {
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: row-reverse;
}
ul li{
    margin: 10px;   
}
ul>li>a:hover{
    color:white;
}
li {
    list-style-type: none;
}
#photo{
    background-color: black;
    width: 100%;
    height: auto;
}
/* #photo{
    clip-path: ellipse(1300px 940px at 90% 100%);
}  */
.df{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}
.df:hover{
    background: linear-gradient(rgb(228, 138, 156),rgb(146, 156, 209));
}
.ce{
    display: flex;
    justify-content: space-around;
    background-color: rgba(213, 238, 70, 0.329);
}
.ce:hover{
    background: linear-gradient(rgb(146, 101, 168),rgb(176, 200, 189));
}
img{
    border-radius: 40px;
}
.sit {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tion {
    display: flex;
    justify-content: space-around;
    width: 100%;      
    height: auto;
}
.age:hover{
    text-align: center;
    font-size: 40px;
    mix-blend-mode: difference;
}
.abcd>img>p{
    background-color: rgba(37, 228, 20, 0.918);
    display: flex; 
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.chri{
    width: 20rem;
    height: 36vh;
}
.ben{
    width: 400px;
    height: 300px;

}
.math{
    width: 400px;
    height: 300px;
}
.jona{
    width: 400px;
    height: 300px;

}
.raen{
    width: 400px;
    height: 300px;

}
.jann{
    width: 400px;
    height: 300px;
}
.arti{
    width: 400px;
    height: 300px;

}

/* @media (max-width:1400px) {
    .website .chri .age{
        text-align: center;
   }       
} */

/* @media  (max-width:1400px) {
    #photo{
        display: block;
   }       
} */

/* @media (max-width:1400px) {
    .age{
        text-align: center;
    }
} */
/* @media (max-width:1400px) {
    .media{
        display: block;
        align-items: center;

    }
    
} */
/* @media (max-width:1100px) {
    div .media{
        display: block;
        align-items:center;
        background-color: cadetblue;
    }
    
} */


